.current-weather {
	background: rgba(240, 248, 255, 0.627);
	border-radius: 25%;
	box-shadow: 2px 3px 5px rgba(122, 99, 47, 0.661);
	padding: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.temp {
	display: flex;
}
img {
	margin-right: 10px;
	width: 80px;
}