.chosen-city {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
h1 {
	margin-right: 15px;
}
.city-page-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.like-buttons{
	margin-left: 25px;
	cursor: pointer;
}