<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: rgb(133, 82, 44);
    margin: 0;
    padding: 0;
  }
  
  a,
  a:visited {
    color: #bd36e7;
    text-decoration: none;
  }
  a:hover {
    color: #991265;
  }
  
</style>
<div [class]="season" class="image">
  <app-header></app-header>
  <div class="main-content">
    <div class="main-block">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>

