<header class="app-header">
	<h1 (click)="onLogoClick()">Weather</h1>
	<form 
		(submit)="confirmLocation($event)" 
		class="location">
		<div class="dropdown-input">
			<input 
				(keyup)="onKeyUp($event)"
				type="text" 
				[value]="value"
				(focus)="onFocus()" 
				placeholder="Enter location"/>
			<div 
				*ngIf="selected" 
				class="dropdown">
				<div 
					(click)="choseCity($event)" 
					class="city" 
					*ngFor="let val of allCities">{{val.name}}</div>
			</div>
		</div>
		<app-button 
			(handleClick)="confirmLocation($event)" 
			text="select location"
			[data]="value"
			class="select-location"
		> select location
		</app-button>
	</form>

</header>
